/* Default style */
html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
    background-color:rgb(218,220,224);
}

/* TOP BAR */
.topBar {
    height: 60px;
    background-color: rgb(167, 0, 201);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.topBar #title {
    width: 200px;
    text-align: center;
    margin-left: -100px;
    margin-top: 0;
    padding-top: 13px;
    padding-left: 50%;
    color:#ffffff;
}

/* SELECT AREA */
.mainDiv {
    width: 700px;
    height: 80%;
    left: 50%;
    margin-left: -350px;
    position: absolute;
    background-color: rgb(255,255,255);
    padding-top: 70px;
    box-shadow: 0 0 8px 8px rgb(0, 0, 0,0.2);
}

.mainDiv #title {
    margin-left: 15px;
    font-size: 27px;
}

.mainDiv #titleDes {
    position: relative;
    top: 3px;
    margin-left: 15px;
    font-size: 15px;
    color: rgb(104, 104, 104);
}

/* Selector */
.mainDiv #selectArea {
    margin-top: 4px;
    background-color: rgb(191, 0, 230);
    border: none;
    border-radius: 0px 6px 6px 0px;
    padding-bottom: 4px;
    padding-top: 3px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.mainDiv #area{
    background-color: rgb(191, 0, 230);
    border: none;
    margin-left: 3px;
    border-radius: 6px 0px 0px 6px;
    color: rgb(255, 255, 255);
    font-size: 23px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    margin-right: -3.2px;
}

#area:hover {
    border-radius: 6px 0px 0px 0px;
}

.mainDiv #district{
    background-color: rgb(191, 0, 230);
    border: none;
    margin-left: 0px;
    color: rgb(255, 255, 255);
    font-size: 23px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    margin-right: -3.2px;
}

#district:disabled{
    background-color: rgb(101, 0, 121);
}

#selectArea:hover {
    background-color:rgb(125, 0, 150);
    cursor: pointer;
}

.mainDiv .listedDataArea {
    position: relative;
    text-align: center;
    font-size: 17px;
    border-radius: 7px;
    color: rgb(213, 226, 255);
    top: 13px;
    /*
    background-color: rgb(70, 88, 255);
    box-shadow: 0 0 4px 4px rgb(0, 0, 0,0.2);
    top: 20px;
    margin-left: 15px;
    padding-top: 5px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 8px;
    */
}

/* for API Resources image */
#sourceView {
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
}

#sourceViewDes {
    position: relative;
    top: -10px;
    font-size: 15px;
    color: rgb(104, 104, 104);
}


/* About */
#aboutDiv {
    margin-left: 5%;
    margin-top: 7px;
}

#aboutDevelope {
    position: relative;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

#aboutDevelopeDes {
    margin-left: 15px;
    top: 7px;
    position: relative;
    font-size: 15px;
    color: rgb(29, 29, 29);
}

/* Bottom Div */
#bottomDiv {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

#bottomDiv a{
    font-size: 17px;
    color: rgb(104, 104, 104);
}

/* Not need in this version

#supportArea {
    width: 90%;
    height: 100px;
    margin-top: 15px;
    margin-left: 5%;
    border-radius: 10px;
    background-color: rgb(70, 88, 255);
}

.mainDiv #district{
    background-color: rgb(191, 0, 230);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 23px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    margin-right: -3.3px;
    box-shadow: -3px 0 3px 3px rgb(0, 0, 0,0.2);
}

*/